h1 {
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: bold;
	text-shadow: red 5px 6px 2px;
	text-transform: capitalize;
}
p{
	font-family: Arial;
	font-size: 12pt;
	text-align: justify;
	text-indent: 30pt;
	white-space: nowrap;
	word-spacing: 0.5em;
}
	